:root {
    --color-bg: #344e41;
    --color-primary: #3a5a40;
    --color-dark: #588157;
    --color-accent: #a3b18a;
    --color-text: #dad7cd;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: var(--color-text);

    
}

html, body {
    margin: 0rem;
    padding: 0rem;
    background: var(--color-bg);
    width: 100%;
    scroll-behavior: smooth;
}

/* Default style */
.text-body {
    max-width: 40rem;
    margin: 0rem auto;
    padding: 1rem;

    align-self: center;
    align-items: center;
}

.text-body strong {
    font-weight: bolder;
}

/* When viewport is at least 50rem wide */
@media (min-width: 80rem) {
    .text-body {
        max-width: 70rem; /* or whatever you want for large screens */
        width: 50%;
    }
}


.text-body .thumbnail {
    min-width: 100%;
    max-height: 30vh;
    aspect-ratio: 1900 / 1600;
    object-fit: cover;        /* crop instead of squish */
}

.text-body img, video {
    border-radius: 0.5rem;
    margin-top: 1rem;
    display: block;
    width: 100%;              /* scale to fit container */
    max-height: 50vh;

    object-fit: contain;
    object-position: center;  /* crop from the middle */
}


.meta {
    display: flex;
    justify-content: space-between; /* pushes first child left, last child right */
    align-items: center;
    margin-bottom: 1rem;
}

.meta span {
    color: var(--color-text);
}

.post-nav {
  display: flex;
  justify-content: space-between;
  max-width: 40rem;
  font-size: 0.9rem;
  margin-left: auto;
  margin-right: auto;
  
  justify-content: center;
}

.post-nav div {
  flex: 1;
  background-color: var(--color-dark);
  margin-top: auto;
  margin-bottom: auto;
  height: 1px;
}

.post-nav a {
  margin: 0rem 1rem;
}


a {
    color: var(--color-accent);
    text-decoration: none;
    transition: color 0.1s;
}


a:hover {
    color: var(--color-text);
    text-decoration: underline;
}

pre {
  overflow-x: auto;
  white-space: pre;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
  background-color: var(--color-primary);
  padding: 0.4rem;
  border-radius: 0.5rem;
}

pre::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Edge */
}

code {
  padding: 2px 4px;
  border-radius: 4px;
  font-family: monospace;
  display: inline; /* ensures it stays inline */
}

blockquote {
  background: var(--color-primary);
  border-left: 0.5rem solid var(--color-accent);
  padding: 0.1rem 1rem;
  border-radius: 0.5rem;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  margin: 0rem 0rem;
}

hr {
  border: none;
  border-top: 1px solid var(--color-dark);
  margin: 0rem 0rem;
  margin-top: 2rem;
}

.thumbnail-wrapper {
  position: relative;
  overflow: hidden;
  border-radius: 0.5rem;
}

.thumbnail-wrapper img {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
  margin-top: 0rem;
}


.thumbnail.preview {
  filter: blur(10px);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  transition: opacity 0.3s ease;
}

.thumbnail.full {
  opacity: 0;
  position: relative;
  z-index: 1;
  
  transition: opacity 0.3s ease;
}

.thumbnail.full.loaded {
  opacity: 1;
}


.mobile-post-nav {
  display: none;
  position: fixed;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: clamp(3rem, 5vh, 5rem);

  background: var(--color-primary);
  border-top: 1px solid var(--color-dark);
  box-sizing: border-box;
  z-index: 999;
  opacity: 0.95;
}

.nav-item img {
  object-fit: fill;
  width: 100%;
  height: 100%;
  margin: 0;
  opacity: 1.0;
  transition: filter .2s ease, transform .2s ease;
  filter: saturate(110%)
}

.nav-item {
  margin: auto;
  width: 33vw;
  height: 70%;
}

.nav-item:hover img {
  opacity: 1;
  transform: scale(1.1);
  filter: saturate(110%) brightness(120%)
}

.kofi {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  background-color: var(--color-dark);
  color: white;
  padding: 0.5rem 0.5rem;
  border-radius: 10rem;
  font-family: sans-serif;
  font-weight: bold;
  text-decoration: none;
  box-shadow: 0 0.2rem 0.4rem rgba(0,0,0,0.2);

  z-index: 9999;
  opacity: 1;

  animation: popIn 1.0s ease-out;
  transition: background-color 0.3s, transform 0.2s, opacity 0.2s;
}

.kofi:hover {
  background-color: var(--color-accent);
  transform: scale(1.05);
  opacity: 1;
}

.kofi img {
  display: block;
  width: 2.5rem;
  height: 2.5rem;
  margin-left: 0.1rem;
  margin-top: 0.1rem;
}

@media (max-width: 50rem) {
  .kofi {
    visibility: hidden;
  }

  .mobile-post-nav {
    display: flex;
  }

  body {
    padding-bottom: 5vh; /* to prevent content from being hidden behind the nav */
  }

  .post-nav {
    display: none;
  }
}


@keyframes popIn {
  0% {
    transform: translateY(2.0rem) scale(0.8);
    opacity: 0;
  }
  40% {
    transform: translateY(2.0rem) scale(0.8);
    opacity: 0;
  }
  60% {
    transform: scale(1.1);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}