:root {
    --color-bg: #344e41;
    --color-primary: #3a5a40;
    --color-dark: #588157;
    --color-accent: #a3b18a;
    --color-text: #dad7cd;
}

@font-face {
  font-family: 'Dancing Script';
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: url('/fonts/DancingScript-Bold-subset.woff2') format('woff2');

}


body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: var(--color-text);
}

html, body {
    margin: 0;
    padding: 0;
    background: var(--color-bg);
}


hr {
    height: 0.0625rem;
    background: var(--color-text);
    margin: 1rem 0;
    width: 50%;
}

.hero-title {
    font-family: 'Dancing Script', cursive;
    font-size: 3rem;
    margin-bottom: 0rem;
    line-height: 90%;

}

.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    color: var(--color-text);
    text-align: center;
}


.sr-only {
    position: absolute;
    width: 0px;
    height: 0px;
    padding: 0;
    margin: 0rem;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

.hero .hero-title {
    margin-top: 0.0rem;
    font-size: 3rem;
    margin-bottom: 0rem;
    font-family: 'Dancing Script', cursive;;
}
.hero p {
    font-size: 1.25rem;
    margin-bottom: 0rem;
    max-width: 32rem;

    font-family: 'Segoe UI', Tahoma, sans-serif;
    font-size: 1.2rem;
    color: var(--color-text);
}
.hero a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 6rem;
    height: 2.5rem;
    background: var(--color-text);
    color: var(--color-primary);
    border-radius: 1.5rem;
    text-decoration: none;
    font-weight: bold;
    transition: background 0.2s, color 0.2s;
}
.hero a:hover {
    background: var(--color-accent);
    color: var(--color-text);
}

.social-bar {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 0.25rem;
}

.social-bar a {
    color: var(--color-bg);
    text-decoration: none;
    transition: color 0.2s ease;
}
.social-bar a:hover {
    color: var(--color-text);
}

.scroll-arrow {
    position: fixed;
    bottom: 1rem;
    left: 50%;
    transform: translateX(-50%);
    width: 3rem;
    height: 3rem;
    background: var(--color-dark);
    border-radius: 50%;
    opacity: 0.7;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    opacity: 0;
    pointer-events: none;

    transition: opacity 0.2s, transform 0.3s;
    z-index: 1000;
}


.scroll-arrow.visible {
    opacity: 0.7;
    pointer-events: auto;
}

.scroll-arrow:hover {
    opacity: 1;
    transform: translateX(-50%) translateY(5px);
}


.blogs-section {
    padding-bottom: 1rem;
    overflow-y: visible; /* allow cards to move up */
}

.blogs-section section::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
}

.blogs-section h2 {
    text-align: center;
    font-size: 2.75rem;
    margin-bottom: 0.0rem;
    margin-top: 0rem;
    font-family: 'Dancing Script', cursive;
    text-wrap: nowrap;
}

.blogs-section section {
    overflow-x: auto; /* allow horizontal scroll */
    scroll-padding-inline: 1rem;
    padding-inline: 1rem;
    padding-top: 2rem;
    padding-bottom: 1rem;
    -webkit-scrollbar-width: none;
    scrollbar-width: none;
    background-color: var(--color-bg);
}

.blogs-container {
  display: flex; /* horizontal layout */
  gap: 1rem;    /* spacing between cards */
  scroll-behavior: smooth; /* smooth scrolling if programmatically scrolled */
}

.blog-card {
  all: unset;
  flex: 0 0 19rem;
  height: 22.5rem;
  background-color: var(--color-dark);
  border-radius: 0.5rem;
  align-items: center;
  justify-content: center;
  white-space: wrap;
  overflow: hidden;
  padding: 0.75rem;
  transition: opacity 0.2s, transform 0.3s;

}

.blog-card:hover {
  transform: translateY(-3%);
}

.blog-card img {
  height: 16rem;     /* or however tall you want */
  width: 19rem;     /* or however tall you want */
  
  border-radius: 0.25rem;
  display: block;
  margin-bottom: 0.5rem;

  cursor: pointer;
}

.blog-card .titlecard {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 0.95rem; /* adjust based on your design */
    width: 99%;
    overflow: hidden;
    
    margin-bottom: 0rem;
    padding-bottom: 0.2rem;
}

.blog-card h3 {
    font-size: 0.95rem;
    color: var(--color-text);
    margin-bottom: 0rem;
    margin-top: 0rem;

    cursor: pointer;
    text-wrap: nowrap;
}

.blog-card h3:hover {
  text-decoration: underline;
  text-decoration-thickness: 0.125rem;
}

.blog-card h4 {
    font-size: 0.65rem;
    margin-top: 0.0rem;
    color: var(--color-accent);
}

.blog-card p {
    font-size: 0.7rem;
    color: var(--color-text);
}

.blog-card p {
  display: -webkit-box;
  -webkit-line-clamp: 3; /* number of lines */
  line-clamp: 3; /* standard property for compatibility */
  -webkit-box-orient: vertical;
  overflow: hidden;
  margin-bottom: -1rem;
}

footer {
    text-align: center;
    padding: 1rem 0;
    color: var(--color-dark);
    font-size: 0.9rem;
}

